<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allen.rbac.dao.SysRoleDao">
    <resultMap id="BaseResultMap" type="com.allen.rbac.entity.SysRole">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <collection property="privilegeList" ofType="com.allen.rbac.entity.SysPrivilege">
            <result column="sp_id" property="id" />
            <result column="sp_pid" property="pid" />
            <result column="sp_platform" property="platform" />
            <result column="sp_name" property="name" />
            <result column="sp_code" property="code" />
            <result column="sp_type" property="type" />
            <result column="sp_sort" property="sort" />
            <result column="sp_url" property="url" />
            <result column="sp_status" property="status" />
            <result column="sp_remark" property="remark" />
            <result column="sp_create_time" property="createTime" />
            <result column="sp_update_time" property="updateTime" />
        </collection>
    </resultMap>

    <sql id="BaseColumnList" >
        id, name, code, status, create_time, update_time
    </sql>

    <insert id="insert" parameterType="com.allen.rbac.entity.SysRole" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO sys_role (name, code, status, create_time, update_time)
        VALUES (#{name}, #{code}, #{status}, now(), now())
    </insert>

    <select id="findById" resultMap="BaseResultMap">
        SELECT sr.id, sr.name, sr.code, sr.status, sr.create_time, sr.update_time,
          sp.id sp_id, sp.pid sp_pid, sp.platform sp_platform, sp.name sp_name, sp.code sp_code,
          sp.type sp_type, sp.sort sp_sort, sp.url sp_url, sp.status sp_status, sp.remark sp_remark,
          sp.create_time sp_create_time, sp.update_time sp_update_time
        FROM sys_role sr
        INNER JOIN sys_role_privilege srp on sr.id = srp.role_id
        INNER JOIN sys_privilege sp on srp.privilege_id = sp.id
        WHERE sr.id = #{id} and sr.status = 1
    </select>

    <select id="findByName" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumnList" />
        FROM sys_role
        WHERE name = #{name} and status = 1
    </select>

    <select id="findByCode" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumnList" />
        FROM sys_role
        WHERE code = #{code} and status = 1
    </select>

    <select id="findByIdList" resultMap="BaseResultMap">
        <if test="null != idList and idList.size() > 0">
            SELECT sr.id, sr.name, sr.code, sr.status, sr.create_time, sr.update_time,
            sp.id sp_id, sp.pid sp_pid, sp.platform sp_platform, sp.name sp_name, sp.code sp_code,
            sp.type sp_type, sp.sort sp_sort, sp.url sp_url, sp.status sp_status, sp.remark sp_remark,
            sp.create_time sp_create_time, sp.update_time sp_update_time
            FROM sys_role sr
            INNER JOIN sys_role_privilege srp on sr.id = srp.role_id
            INNER JOIN sys_privilege sp on srp.privilege_id = sp.id
            where sr.status = 1 and sr.id in
            <foreach collection="idList" open="(" item="id" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="findByParams" resultMap="BaseResultMap">
        select <include refid="BaseColumnList" />
        from sys_role
        where status = 1
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
        order by update_time desc
    </select>

    <update id="update" parameterType="com.allen.rbac.entity.SysRole" >
        UPDATE sys_role
        SET
          name = #{name},
          update_time = now()
        WHERE id = #{id} and status = 1
    </update>

    <update id="updateStatus" >
        UPDATE sys_role SET status = #{status}, update_time = now() WHERE id = #{id} and status = 1
    </update>

</mapper>